# Logs
node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Vercel
.vercel

# IDEs
.vscode/
.idea/
.DS_Store
*.suo
*.sw?

# Build artifacts
docs/

# Images & Media
/*.png
/*.jpg
/*.jpeg
/*.gif
/*.ico
/*.pdf
/*.zip

# Temporary files
*.bak
*.tmp