@import "tailwindcss";
@import './styles/globals.css';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html, body {
    @apply transition-colors duration-500;
  }
  
  body {
    @apply bg-white text-gray-900;
  }

  .dark body {
    @apply bg-black text-white;
  }
}
